@font-face { 
    font-family: 'Audiowide';
    src: url('../fontes/Audiowide-Regular.ttf');
}
@font-face { 
    font-family: 'libelsuit';
    src: url('../fontes/libelsuit.ttf');
}
@font-face { 
    font-family: 'Open Sans';
    src: url('../fontes/OpenSans-Light.ttf');
}